body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f9faf8;
}

.navbar {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    margin: 0;
}

.navbar div {
    flex: 1;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header2 {
    display: flex;
    margin: auto;
}

.header2 span {
    flex: 1;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    margin: 0;
    padding: 200px 200px 200px 200px;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0;
    font-weight: lighter;
}

.quoteAuthor {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.logo {
    margin-left: 2rem;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin-left: 20px;
}

.hero-secondary-text {
   color: #e5e7eb;
   font-size: 18px; 
   margin-left: 20px;
}

.top-container {
    display: flex;
    padding: 0 0 20px 0;
    background-color: #1f2937;
}

.top-container div {
    flex: 1;
}

.hero-image {
    height: 240px;
    background-color: #6D747D;
    margin: auto 270px auto 530px;
    border-radius: 10px;

}

.sign-button {
    border-radius: 10px;
    background-color: #3882f6;
    border: none;
    width: 100px;
    height: 30px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.middle-container {
    background-color: white;
    margin-top: 20px;
    padding: 1px 0 20px 0;
}

.infoBoxes {
    display: flex;
}

.infoBoxes div {
    flex: 1;
}

.infoBox {
    height: 180px;
    width: 180px;
    border: solid #3882f6;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    
}

.random-info {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-weight: bold;
}

.infoText {
    text-align: center;
    width: 180px;
    margin: 4px auto auto auto;
}

.bottom-container {
    background-color: #3882f6;
    display: flex;
    color: #f9faf8;
    align-items: center;
    margin: 100px 60px 100px 60px;
}

.bottom-container div {
    flex: 1;
    margin: 30px 100px;
}

.footer1 {
    font-weight: bold;
    font-size: 22px;
}

.sign-button2 {
    border-radius: 5px;
    border-color: #e5e7eb;
    border: 2px solid;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
}

.sign-button-div {
    text-align: center;
}

.footer {
    background-color: #1f2937;
    margin: 0;
    padding: 30px;
}

.copyright {
    color:#e5e7eb;
    text-align: center;
    margin: 0;
}